@font-face {
    font-family: "Book";
    src: url("../fonts/Gotham-Book.woff") format('woff');
}

@font-face {
    font-family: "Bold";
    src: url("../fonts/Gotham-Bold.woff") format('woff');
}

@font-face {
    font-family: "BookItalic";
    src: url("../fonts/Gotham-BookItalic.woff") format('woff');
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Book;
    color: #646464;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------*/

*{
    box-sizing: border-box;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}


header{
    background-size: auto 100%;
    background-position: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url('../img/rajoy-ipsum-header.jpg');
    flex-direction: row;
    color: white;
    height: 262px;
    background-repeat: no-repeat;
}

h1{
    display: block;
    text-transform: uppercase;
    font-family: Bold;
    font-size: 72px;
    line-height: 1;
}

.logo{
    fill: white;
    height: 135px;
    width: 135px;
    margin-right: 20px;
}

.subtitle{
    font-size: 21px;
}

.claim{
    font-family: BookItalic;
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.subclaim{
    font-family: Bold;
    text-align: center;
    font-size: 22px;
}

#generar{
    color: white;
    background-color: #092E5A;
    font-family: Bold;
    text-transform: uppercase;
    display: block;
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 20px;
    font-size: 22px;
    border-radius: 60px; 
    margin-top: 50px;  
    position: relative;
    z-index: 99; 
}

#generar:hover{
    background-color: #174C8B;
    cursor: pointer;
}


#result{
    padding: 80px 20% 40px 20%;
    background-color: #F6F6F6;
    margin-top: -40px;    
}

#result p, section p{
    margin-bottom: 20px;
    line-height: 1.3;
    text-align: center;
}

.share{
    text-align: center;
    font-size: 22px;    
    margin: 40px 0 40px 0;
}

.share .bold{
    font-family: Bold;
}

footer{
    background-size: auto 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url('../img/rajoy-ipsum-footer.jpg');
    color: white;
    height: 161px;
    background-repeat: no-repeat;
    position: relative;
}

.fin{
    font-family: BookItalic;
    text-align: center;
    font-size: 36px;
}

.copy{
    background-color: #092E5A;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}

.addthis_inline_follow_toolbox{
    position: absolute;
    bottom: 10px;
}

.addthis_inline_share_toolbox{
    text-align: center; 
    height: 43px;
    margin-bottom: 40px;    
}

.odd{
    background-color: #F6F6F6;
}

section{
    padding: 40px 20% 40px 20%;  
    text-align: center;  
}

section h2{
    color: #0BB3FE;
    font-size: 36px;
    font-family: BookItalic;
    margin-bottom: 20px;
}

section a{
    text-decoration: none;
    color: #0BB3FE;
}

strong{
    font-family: Bold;
}


@media(max-width: 767px){
    main{
        max-width: 610px;        
    }

    header{
        background-position: top 0 right -50px;     
        height: 120px;   
        padding: 0 10px;
    }

    .logo{
        height: 60px;
        width: 60px; 
        margin-right: 20px;
    }
    h1{
        font-size: 28px;
        text-align: center;
    }

    .subtitle{
        font-size: 12px;
        text-align: center;
        max-width: 200px;
    }

    .claim{
        font-size: 20px;
        margin-top: 20px;
    }

    .subclaim{
        font-size: 14px;
    }

    #generar{
        margin-top: 20px; 
        font-size: 14px;    
        max-width: 250px;
        padding: 10px 20px;
        line-height: 1.3;   
    }

    #result{
        padding: 60px 20px 20px 20px;
        font-size: 12px;
    }

    .share{
        font-size: 14px;
        margin: 20px 0;
    }
    .addthis_inline_share_toolbox{
        margin-bottom: 20px;
    }

    section{
        padding: 20px;
        font-size: 12px;        
    }

    section h2{
        font-size: 22px;
    }

    footer{
        background-position: left -130px center;
        height: 80px;
    }

    .fin{
         font-size: 16px;
    }

    .addthis_inline_follow_toolbox{
        bottom: -5px;
    }

    .addthis_inline_follow_toolbox .at-icon-wrapper,
    .addthis_inline_follow_toolbox .at-icon{
        height: 22px!important;
        width: 22px!important;
    }
}
